<p>start works!</p>
<div id="loading-wrapper">
    <div id="loading-text">Loading...</div>
    <div id="loading-content"></div>
    <button (click)="timer()">Test</button>
</div>

<div *ngIf="showInformation" class="showDetails">
    <h1>Transparent GR</h1>
    <h2>Our Mission</h2>
    <p>To show residents or people
        in gr how the cities data is 
        transparent. and more information 
        and more information and more information 
        and more information and more information 
        and more information and more information 
        and more information and more information 
        and more information 
        </p>
    <div id="endDetails">
        <button id="endBtn">Next</button>
    </div>
  </div>