<p>start works!</p>
<div id="loading-wrapper">
    <div id="loading-text">Loading...</div>
    <div id="loading-content"></div>
    <button (click)="timer()">Test</button>
</div>

<div *ngIf="showInformation" class="showDetails">
    <h1>Transparent GR</h1>
    <div id="detailContainer">
            <img alt="logo" src="assets/logo.png" style="width: 250px; height: 250px;">
        <h2>Welcome!</h2>
        <p>Our Mission is to, Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div id="endDetails">
            <button id="endBtn">Lets get started!</button>
        </div>
    </div>
  </div>