<div id="home-wrapper">
    <div id="home-content">
    <h1>TransparentGR</h1>

    <label>Look up your area to see road conditions
        <input id="searchLocation" placeholder="Search">
    </label>

    <label>View your neighborhood
        <input id="viewMap" placeholder="Search">
    </label>
    <div id="placeBtn" (click)="move()">
        <button id="moreDetails">More Details</button>
    </div>
    </div>
    <div id="pacerScore">
        <h2>Pacer Score</h2>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups</p>
        <button id="link311" href="https://www.grandrapidsmi.gov/Government/Programs-and-Initiatives/GR311">311 Link</button>
        <a href=""

    </div>
 
</div>
