<div id="home-wrapper">
    
    
    <div id="home-content">
        
        <h1>TransparentGR</h1>
        
        <label>
            <!-- <h4>Look up your area to see road conditions</h4> -->
            <form>
                <input id="searchLocation" placeholder="Search your area to see road conditions">
                <button id="goBtn" [routerLink]="['/road']" routerLinkActive="router-link-active">Go</button>
            </form>
        </label>
        
        <span id="line">
            <hr><p id="or">OR</p><hr>
        </span>
        
        <button id="viewMap" [routerLink]="['/road']" routerLinkActive="router-link-active"> View GR Map</button>
        
        <button id="placeBtn" (click)="moveBottom()" id="moreDetails">More Details</button>
        
    </div>
    
    
    <div id="pacerScore">
        <h2>Pacer Score</h2>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups Lorem ipsum is placeholder text commonly used in the graphic, 
            print, and publishing industries for previewing layouts and visual 
            mockups</p>
            <button id="link311" href="https://www.grandrapidsmi.gov/Government/Programs-and-Initiatives/GR311">Contact 311</button>
            <button id="backTop" (click)="moveTop()">Back to Top</button>
            
        </div>
        
    </div>
    