<div id="home-wrapper">
    
    <img alt="logo" src="assets/logo.png" class="logo">

    <div id="home-content">
        
        <label>
            <search-bar (center)= "locateAddress($event)">
                <button id="goBtn" [routerLink]="['/road']" [queryParams]='{results: new google.maps.LatLng(42.963795, -85.670006), zoom: 12}' routerLinkActive="router-link-active">Go</button>
            </search-bar>
        </label>
        
        <span id="line">
            <hr><p id="or">OR</p><hr>
        </span>
        
        <button id="viewMap" [routerLink]="['/road']" routerLinkActive="router-link-active"> View GR Map</button>
        
        <button id="moreDetails" (click)="moveBottom()">More Details</button>
        
    </div>
    
    
    <div id="pacerScore">
        <h2>Paser Score</h2>
        <p>The city of Grand Rapids assigns a paser score to each road and reassesses that score every year.</p>
        <p>The roads are given a rating from 1 to 10 with 1 being the worst (shown in red) and 10 being the best (shown in green).</p>
        <p>View the map to see the roads.</p>
        <button id="link311"><a href="https://www.grandrapidsmi.gov/Government/Programs-and-Initiatives/GR311" target="_blank">Contact 311</a></button>
        <button id="backTop" (click)="moveTop()">Back to Top</button>
        
    </div>
    
</div>
